<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
<div>我是a</div>
<iframe id="otherFrame" name="otherFrame" src={{iframeUrl}}></iframe>

<!-- <script>
  window.name = 'parentFrame';
  window.globalvarA = 'aaa';
  const otherFrame = document.getElementById('otherFrame');
  otherFrame.onload = function() {
    const win = otherFrame.contentWindow;
    const dom = win.document;
    const name = win.name;
    const globalvarB = win.globalvarB;
    console.log('Parent console: Values of props from the child frame window:')
    console.log(`win:${win}`);
    console.log(`dom:${dom}`);
    console.log(`name:${name}`);
    console.log(`globalvarB:${globalvarB}`);
  }
</script> -->
</body>
</html>